{% extends 'base.html' %}

{% block app_content %}
    <a href="{{ url_for('index') }}" class="btn btn-warning home">На главную</a>
    <a href="{{ url_for('live') }}" class="btn btn-info refresh">Создать новую жизнь</a>

    <div class="counter">
    {{ game.counter }}
    </div>

    <table class="world">
        {% for i in range(game.world|length) %}
            <tr>
                {% for j in range(game.world|first|length) %}
                    {% if game.world[i][j] %}
                        <td class="cell living-cell"></td>
                    {% elif game.world[i][j] == 0 and game.old_world[i][j] == 1 %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
        {% endfor %}
            </tr>
    </table>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}